<h2>Comments:</h2>
{{#each sortedComments as |comment|}}
  <div id="commentBlock" class="comment">
    <p id='userSay'>{{comment.name}}</p>
    <p>{{comment.message}}</p>
    <p>{{comment.date}}</p>
    <button class="button" {{action 'deleteComment' comment}}>Delete this Comment</button>
    <div class="border"></div>
  </div>
{{/each}}
