.header {
  text-align: center;
  font-size: 5em;
}

body {
  font-family: robot;
}

.link {
  margin: 150px;
}

.blogPost img {
  max-width: 400px;
  max-height: 400px;
}

.singlePost {
  border: 2px solid black;
  float:left;
}

.form-group {
  margin-bottom: 20px;
}

.form {
  margin-left: 100px;
}

.contact {
  text-align: center;
}

.singlePost a {
  color: black;
}

.postPage img {
  max-width: 600px;
  max-height: 600px;
}
