.header {
  text-align: center;
  font-size: 5em;
  background-color: inherit;
}

body {
  font-family: robot;
}

.blogPosts {
  border-right: 1px solid black;
}
.comments {
  margin-top: 200px;
}
.blogPost img {
  max-width: 675px;
  max-height: 675px;
  border: 5px solid black;
}

body {
  background: url(http://img.valiet.org/2016/01/31/red-curtains-l-49f21184032368c2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
body button {
  color: black;
}
.singlePost {
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}
.navbar {
  text-align: center;
}
.link{
  margin-right: 100px;
}


.contact {
  text-align: center;
}

.singlePost a {
  color: white;
}

.postPage img {
  max-width: 600px;
  max-height: 600px;
  border: 5px solid black;
}

.newPost {
  position: fixed;
  margin-left: 1000px;
}
