<div class="container">
  <h2>About Us</h2>
  <p>We strive for superb movie blog posts. This web application utilizes Ember, JavaScript, HTML and CSS. </p>

  <h3>Mission Statement</h3>
  <p>Be the best blog that you can be</p>
</div>
