<h1 class="header jumbotron">About Us</h1>
<div id="aboutBox" class="container">

  <h4>This simple movie blog application was built with Ember!</h4>
  <br>
  <h4>Post a movie and let us know what you liked about it!</h4>
</div>
