<nav class='navbar navbar-default navbar-fixed-top'>
    <button type="button" class="link btn btn-default navbar-btn"><span class="lina">{{#link-to 'index'}}Home{{/link-to}}</span></button>
    <button type="button" class="link btn btn-default navbar-btn"><span class="lina">{{#link-to 'contact'}}Contact{{/link-to}}</span></button>
    <button type="button" class="link btn btn-default navbar-btn"><span class="lina">{{#link-to 'about'}}About{{/link-to}}</span></button>
    <button type="button" class="link btn btn-default navbar-btn"><span class="lina">{{#link-to 'admin'}}Admin Portal{{/link-to}}</span></button>
</nav>

{{outlet}}
