<h1 class="header jumbotron">Contact</h1>
<div class="contact container">
  <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
    <h3>Shoot us a Message</h3>
    <input id="name" class="input" name="name" type="text" value="" size="30" placeholder="Name">
	</div>
  <br>
	<div class="row">
    <input id="email" class="input" name="email" type="text" value="" size="30" placeholder="Email">
	</div>
  <br>
	<div class="row">

		<textarea id="textEmail" class="input" name="message" rows="7" cols="30" placeholder="Message"></textarea>
    <br>
	</div>
  <br>
	<input id="submit_button" type="submit" value="Send" />
</form>

</div>
